/* background styles */

#background-panel {
  grid-area: hp;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 3fr;
  grid-template-areas:
    "ch1 ch2 ch3 ch4 ch5 ch6 ch7"
    "cht cht cht cht cht cht cht";
}

#background-2015.panel-menu { grid-area: ch1; }
#background-2016.panel-menu { grid-area: ch2; }
#background-2017.panel-menu { grid-area: ch3; }
#background-2018.panel-menu { grid-area: ch4; }
#background-2019.panel-menu { grid-area: ch5; }
#background-2020.panel-menu { grid-area: ch6; }
#background-2021.panel-menu { grid-area: ch7; }
#background-tiles {
  grid-area: cht; 
  text-align: left;
}

{% for year in background %}
  #background-{{ year }} { z-index: 0; }
  #background-{{ year }}:hover { z-index: 100; }
  #background-{{ year }}:hover ~ #background-{{ year }} { z-index: 100; }
{% endfor %}

.background-tile {
  position: relative;
  margin: 0 2rem;
}

.background-tile.offset-1 { margin-top: 5rem; }
.background-tile.offset-2 { margin-top: 10rem; }

.background-content {
  position: absolute;
  left: 0;
  right: 0;
  display: inline-block;
  background: #E5E5E5;
  color: #333333;
  padding: 1rem;
  border-radius: 10px;
  border-style: solid;
  border-color: #E5E5E5;
  border-width: 2px;
  margin: 0;
}

.background-info {
  position: absolute;
  right: 0;
  display: inline-block;
  background: #404040;
  color: #E5E5E5;
  padding: 1rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-style: solid;
  border-color: #7F7F7F;
  border-width: 2px;
  margin: 0;
}

.degree-done {
  background: #E5E5E5;
}

.degree-not-done {
  background: #AFAFAF;
  color: #888888;
}
