body {
  overflow-y: overlay;
  color: #333333;
  max-width: 850px;
  margin: auto;
}

h2 { font-weight: normal; }

/* grid system */

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 3fr 2fr;
  grid-template-areas:
    "c1 c2 c3 c4 c5 c6"
    "ct ct ct ct cs cs"
    "hp hp hp hp hp hp"
    "cp cp cp cp cp cp ";
}

/* helpers */

#content-body p { text-align: justify; }

.no-margin  { margin: 0; }
.boldify    { font-weight: bold; }
.unanchor {
  text-decoration: none;
  color: inherit;
}

/* links style */

#cell-gpg      {grid-area: c1;}
#cell-mail     {grid-area: c2;}
#cell-linkedin {grid-area: c3;}
#cell-github   {grid-area: c4;}
#cell-twitter  {grid-area: c5;}
#cell-resume   {grid-area: c6;}

.links, .links:hover {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
  text-decoration: none;
  margin: 0 0.5rem;
}

.links {
  padding: 1.5rem;
  padding-top: 0.8rem;
  font-size: 1.5rem;
  height: 1rem;
  background: #E5E5E5;
  color: #333333;
}

.links:hover {
  padding: 2rem;
  font-size: 2.5rem;
  height: 2rem;
  background: #333333;
  color: #E5E5E5;
}

/* title style */

#cell-title  { grid-area: ct; }

#title {
  margin-top: 0;
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: bold;
  font-size: 2.8rem;
  margin-bottom: 0;
}

#title-infos {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 20px;
  font-weight: lighter;
}

#title-cursor {
  font-weight: bolder;
}

/* subjects style */

#cell-subjects {
  grid-area: cs;
  padding: 0;
}

.subject {
  background: #333333;
  padding: 8px 15px 8px 15px;
  border-radius: 10px;
  color: #E5E5E5;
  margin: 2px;
  display: inline-block;
}

/* panel styles */

.panel {
  background: #333333;
  color: #E5E5E5;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 2rem;
}

.panel-menu {
  color: #E5E5E5;
  border-radius: 10px;
  text-decoration: none;
  margin-top: 2rem;
  font-family: sans-serif;
  cursor: pointer;
  display: inherit;
  height: 2rem;
}

/* contents style */

#content-panel { grid-area: cp; }

.disabled {
  color: #888888;
  cursor: not-allowed;
}

#content-body {
  padding-bottom: 1rem;
}

.content-panel {
  text-align: left;
  margin: 2.5rem;
  padding: 1rem;
  background-color: #E5E5E5;
  border-radius: 10px;
  color: #333333;
}

.content-pic {
  margin: 1rem;
  border-radius: 10px;
  /*border-style: solid;
  border-width: 5px;
  border-color: #333333;*/
}

.project-git-link {
  font-size: 4rem; 
  margin-bottom: 0;
  text-align: center;
  text-decoration: none;
  color: #333333;
}

.project-git-link:hover {
  text-decoration: none;
  color: #333333;
}
