{% extends "base.html.j2" %}

{% block body %}
  <div class=content-panel>
    {% for article in articles %}
      <a href="{{ article.url }}">{{ article.name }}</a>
    {% endfor %}
  </div>
{% endblock %}
