    <div class="content-panel">
      <div class="row">
        <div class="ten columns">
          <h4 style="font-family: sans-serif;" class="project-title">{{ project.title }}</h4>
        </div>
        <div class="rightify two columns">
          <a class="project-git-link fab fa-github-square" target="blank" href="{{ project.github }}"></a>
        </div>
      </div>
      <div class="row">
        <div class="twelve columns">{{ subjectBody }}</div>
      </div>
      <div class="row">
        <div class="eight columns">
          <p>{{ project.presentation }}</p>
        </div>
        <div class="four columns">{{ picturesBody }}</div>
      </div>
    </div>
