<!DOCTYPE html>

<html lang="fr">

  <head>
    <meta charset="utf-8">
    <title>> Tristan Pinaudeau_</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A very simple website showing my background, my projects and more.">
    <meta name="author" content="Tristan Pinaudeau">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/fontawesome.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">

    {% if selectedyear %}
      <link rel="stylesheet" href="css/background.css"/>
    {% else %}
      <link rel="stylesheet" href="css/index.css"/>
    {% endif %}

    <link rel="icon" type="image/png" href="img/favicon.png">
  </head>
  <body>
    <div class="container">
      {% for link in links %}
        <a id="cell-{{ link }}"
           class="links {{ links[link].icon }}"
           href="{{ links[link].value }}"
           {{ "download" if links[link].download else "" }}></a>
      {% endfor %}

      <div id="cell-title">
        <h1 id="title">
          <a href="/index.html" class="unanchor">
            $ tristan pinaudeau<span id="title-cursor">_</span>
          </a>
        </h1>
        <p id="title-infos">{ city: bordeaux; age: 22; has_car: true }</p>
      </div>

      <div id="cell-subjects">
        {% for subject in subjects %}
          <span class="subject">{{ subject }}</span>
        {% endfor %}
      </div>

      <div id="background-panel" class="panel">
        {% for year in background %}
          <h2 id="background-menu-{{ year }}"
              class="panel-menu
                     {{ "boldify" if selectedyear == year else "" }}">
            <a href="/background_{{ year }}.html" class="unanchor">
              {{ year }}
            </a>
          </h2>
        {% endfor %}
        {% if selectedyear %}
          {% for year in background %}
            {% if year == selectedyear %}
              <div id="background-tiles">
                {% for degree in background[year].degrees %}
                  <div class="background-tile">
                    <h5 class="background-content">{{ degree }}</h5><!--
                    --><h5 class="background-info">Diplômes</h5>
                  </div>
                {% endfor %}
                {% for experience in background[year].experiences %}
                  <div class="background-tile">
                    <h5 class="background-content">{{ experience }}</h5><!--
                    --><h5 class="background-info">Experiences</h5>
                  </div>
                {% endfor %}
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>

      <div id="content-panel" class="panel">
        <div id="content-menu" class="row">
          <h4 id="projects-menu" class="panel-menu disabled">Projets</h4>
          <h4 id="readings-menu" class="panel-menu">Lectures</h4>
          <h4 id="articles-menu" class="panel-menu disabled">Articles</h4>
        </div>
        <div id="content-body">
          <div hidden id="projects-body"></div>
          <div hidden id="readings-body"></div>
          <div hidden id="articles-body"></div>
        </div>
      </div>

    </div>
  </body>

</html>
